<GridLayout>

  <GridLayout #background
    scaleX="1.4"
    scaleY="1.4"
    class="background"
    (loaded)="startBackgroundAnimation(background)"></GridLayout>
  <StackLayout #initialContainer
    class="initial-container">
    <Label
      text="NOTES"
      class="initial-label"></Label>
    <StackLayout
      (tap)="showMainContent()"
      class="initial-button">
      <Label
        text="Login"
        class="initial-button-label"></Label>
    </StackLayout>
  </StackLayout>
  <StackLayout #mainContainer
    class="main-container">
    <Label
      class="main-label"
      text="Notes"
      [color]="black"></Label>

    <GridLayout #formControls
      class="form-controls"
      rows="auto, auto"
      translateY="50">
      <TextField #email
        hint="Email Address"
        keyboardType="email"
        returnKeyType="next"
        (returnPress)="focusPassword()"
        [(ngModel)]="user.email"
        [isEnabled]="!isAuthenticating"
        autocorrect="false"
        autocapitalizationType="none"
        row="0"></TextField>
      <TextField #password
        hint="Password"
        secure="true"
        returnKeyType="done"
        (returnPress)="submit()"
        [(ngModel)]="user.password"
        [isEnabled]="!isAuthenticating"
        row="1"></TextField>

      <ActivityIndicator
        [busy]="isAuthenticating"
        rowSpan="2"></ActivityIndicator>
    </GridLayout>

    <Button
      text="Login"
      [isEnabled]="!isAuthenticating"
      class="submit-button"
      (tap)="submit()"></Button>

  </StackLayout>

  <!-- The fruit logo that appears within the container -->s

</GridLayout>